<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.meda.survey">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:name=".controller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="KODEGIFT">
        <activity
            android:name=".FlashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainMenuActivity"
            android:label="KODEGIFT" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SurveyActivity"
            android:label="Survey"
            android:parentActivityName=".MainMenuActivity"/>
        <activity
            android:name=".MySurveyActivity"
            android:label="My Survey" />
        <activity
            android:name=".MyVoucherActivity"
            android:label="My Reedem Items" />
        <activity
            android:name=".ProductDetailActivity"
            android:label="Review Product"
            android:parentActivityName=".MainMenuActivity"/>
        <activity
            android:name=".EditProfileActivity"
            android:label="Edit Profile"
            android:parentActivityName=".MainMenuActivity"/>
        <activity android:name=".CategoryProductsActivity"
            android:parentActivityName=".MainMenuActivity"/>
    </application>

</manifest>